{% include 'header.html' %}
<div class="about">
    <h2>CollegeAssister</h2>
           <b style="padding-left:100px;"> -An Assistance for Selecting Right Engineering College</b>
  <marquee direction="up" scrollamount onmouseover="this.stop();" onmouseout="this.start();"> <p> Our state Bihar has a lot of colleges. In engineering alone, there are 38 government colleges in different districts of Bihar. Apart from that there are
           also some private engineering colleges in Bihar. A lot of students take
           admission in these engineering colleges every year through different
           competitive examinations like JEE- Main , BCECE etc. Despite of these,
           majority of students are not able to get right college on the basis of their
           performance/rank. This is because there is no such platform which can
           provide appropriate details like opening & closing ranks of different branches
           in different colleges, no of faculties in different branches of different colleges
           etc. If we will have a platform having such information, then it will assist
           students at the time of counselling and help them in selecting right college.
           Under this project, we have decided to work on developing such platform.</p></marquee>
           
    </div>
   {% include 'footer.html' %}
    
</body>
<style type="text/css">
.about{background-color:#E1E8EB;

      background-repeat:no-repeat;
      background-size:100% 100%;
    width:99%;
    height:500px;
    margin:10px;
    color:black;

}
h2{color:#FFC947;text-align:center;}
marquee{height:300px;
        padding-left:30px;}
</style>
</html>