{% include 'header.html' %}
    <div class="contact-content">
        <div class="max-width-1 m-auto"><hr>
    <h1>Feel Free To Contact Bicon</h1><hr>
    <div class="contact-form">
        <div class="form-box">
            <input type="=text"placeholder="enter your first name">
        </div>
        <div class="form-box">
            <input type="=text"placeholder="enter your last name">
        </div>
        <div class="form-box">
            <input type="=Number"placeholder="enter your mobile number">
        </div>
        <div class="form-box">
            <input type="=text"placeholder="enter your E-mail i'd">
        </div>
        <div class="form-box">
            <textarea name="" id =""cols ="20" rows="20"placeholder="write your query here"></textarea>
        </div>
        <div class="form-box">
            <button class="btn">submit</button>
        </div>
    </div>
        </div>
    </div>
    {% include 'footer.html' %}
    
</body>
</html>