<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="utility.css">
    <link rel="stylesheet"href="style.css">
    <link rel="stylesheet"href="respon.css">
    <title>project</title>

</head>
<body>
    <nav class="navigation">
        <div class="nav-left">
            <img src="logo.jpg"alt="Bicon">
            <ul class="menu">
                <li class="item"><a href="pro.html">Home</a></li>
                <li class="item"><a href="#">Colleges</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
    
            </ul> 
        </div>
        <div class="nav-right">
            <form action="search.htm"method="get">
            <input  class ="search"type="text" name="query"placeholder="college search">
            <button class="btn">search</button>
            </form>
        </div>
    </nav>
    <div class="footer">
        <p>copyright&copy;Bicon</p>

    </div>
    
</body>
</html>